{-# LANGUAGE OverloadedStrings #-}
{-# LANGUAGE DeriveGeneric #-}
{-# LANGUAGE ImportQualifiedPost #-}

module Helpers.Controllers.{{controllernameCapitalized}} where

import Data.Aeson (FromJSON(..), withObject, (.:), decode, Object, Result( Success ))
import Data.Aeson.Types (parseMaybe)
import Data.Bool (Bool (False, True))
import GHC.Generics (Generic)
import Data.ByteString.Lazy.Char8 qualified as B (pack)
import Data.Char
import Data.Maybe (fromMaybe)
import Data.Text (pack)

data {{controllernameCapitalized}}State = {{controllernameCapitalized}}State
  { {{controllerInputs}}
  }
  deriving (Show, Generic)

instance FromJSON {{controllernameCapitalized}}State

-- Default {{controllernameCapitalized}} state
default{{controllernameCapitalized}}State :: {{controllernameCapitalized}}State
default{{controllernameCapitalized}}State = {{controllernameCapitalized}}State
  { {{controllerInputDefaults}}
  }

decode{{controllernameCapitalized}}State :: String -> ({{controllernameCapitalized}}State, Bool, String)
decode{{controllernameCapitalized}}State inputStr =
  case decode (B.pack inputStr) :: Maybe Object of
    Just obj ->
      case parseMaybe (.: "{{controllername}}") obj of
        Just {{controllername}}Obj ->
          ({{controllername}}Obj, False, "Successfully decoded {{controllernameCapitalized}}State")
        Nothing -> (default{{controllernameCapitalized}}State, True, "Key '{{controllername}}' missing or invalid in input JSON")
    Nothing -> (default{{controllernameCapitalized}}State, True, "Input string is not valid JSON")

 